body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: lavender;
}
.title{
    font-size: 3em;
    font-weight: 700;
    font-style: italic;
}
.bayan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;
    margin: 0 auto;
}
.bayan-item {
    cursor: pointer;
    width: 100%;
    transition: all 0.25s ease-out 0s;
}

.bayan-title {
    font-size: 2em;
    display: block;
    cursor: pointer;
    text-align: left;
    font-style: italic;
}

.bayan-input {
    appearance: none;
    width: 0;
    height: 0;
    position: absolute;
}
.bayan-mem {
    display: none;
}

.bayan-input:checked + .bayan-mem{
    display: block;
}

img {
    width: 50%;
    height: 50%;
}

.bayan-item:hover {
    background-color: rgb(169, 156, 248);
}
.bayan-item:hover > .bayan-mem{
    display: block;
}

.bayan:hover .bayan-title {
    color: black;
}
.bayan .bayan-title {
    color: darkmagenta;
}
.bayan-item:hover > .bayan-title {
    font-weight: 500;
    color: darkslateblue;
}